#landing-background {
    background-image: url("img/landing.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#site-background {
    background-image: url("img/sitebg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.button:hover {
    background-color: #f2a365;
    color: white;
}

.campi {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #ececec;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.campi:focus {
    border-color: #f2a365
}

.login {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #f2a365;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    background-color:rgba(242, 163, 101, 0.2)
}

.login:hover {
    background: #f2a365;
    color: white;
}

.logbox {
    width: 80%;
    padding: 10%;
    top: 50%;
    left: 50%;
    position: static;
    margin-left: auto;
    margin-right: auto;
    display: table;
    border-radius: 50px;
    text-align: center;
    transition: 0.25s;
    margin-top: 20%;
    background-color:rgba(34, 40, 49, 0.85)
}

.orange-link{
    text-decoration: none;
    color: #f2a365;
    font-weight: 500;
}

.course-card-link{
    position: absolute; 
    bottom: 5px;
}

.post-name{
    text-decoration: none;
    font-size: 120%;
    color: rgba(34, 40, 49, 0.85);
    font-weight: 600;
}

.post-name:hover{
    color: rgba(34, 40, 49, 0.85);
}

.post-course-link{
    text-decoration: none;
}

.post-body{
    margin-bottom: 3%;
}

.post-button {
    font-size: 100%;
    font-weight: 600;
    color: #f2a365;
    width: 20%;
    padding: 0%;
}

.post-button:hover {
    border-color: #f2a365;
}

.post-dropdown {
    border-color: #c4c4c4;
}

.post-dropdown:hover{
    background-color: #eeeeee;
    color: #30475E;
}

.post-image{
    margin-right: 3%;
    width: 50;
}

.post-comment-btn{
    font-size: 80%;
    font-weight: 500;
    color: #30475E;
    background-color: #7ebaf546;
    border-color: #30475E;
    width: 30%;
    padding: 0.5%;
    display: inline-block;
}

.post-comment-btn:hover{
    color: white;
    background-color: #30475E;
    border-color: white;
}

.save-edit-btn{
    color: #118302;
    background-color: #16bb0063;
    border-color: #118302;
}

.save-edit-btn:hover{
    color: white;
    background-color: #118302;
    border-color: #118302;
}

.discard-edit-btn{
    color: #aa3b3b;
    background-color: #af4c4c63;
    border-color: #aa3b3b;
}

.discard-edit-btn:hover{
    color: white;
    background-color: #aa3b3b;
    border-color: #aa3b3b;
}